body {
       	background-image: url(https://wallpaperscraft.com/image/house_holland_river_buildings_hdr_10942_3840x2160.jpg);
       	 margin: 5%;
       	 padding: 5%;
       	 	outline: double;
       	outline-color: black;
       	display: block;
       	 color: black;
       }
       p{
       	color: white; font-size: 25px; font-family:"Questrial"; 
       

       }
       #myid{
       	color: black;
               font-family:"Questrial";
               font-weight: height: 150px;
               width: 700px;
       }
       .media {
       	color: blue; 
       }
     }
