body {
       	background-image: url(http://static1.squarespace.com/static/56428f79e4b00c09aad36e43/5642931fe4b024d1dbe25f8d/5642931fe4b024d1dbe25f8f/1447203622946/free_web_background_3_by_kgombocka-d4gz4lh.jpg?format=2500w);
       	 margin: 5%;
       	 padding: 5%;
       	 	outline: double;
       	outline-color: black;
       	display: block;
       	 color: black;
       }
       p{
       	color: white; font-size: 25px; font-family:"Lowvetica"; 
       

       }
       #myid{
       	color: black;
               font-family:"lowvetica";
               font-weight: height: 150px;
               width: 700px;
       }
       .media {
       	color: blue; 
       }
