body {
       	background-image: url(https://wallpaperscraft.com/image/house_holland_river_buildings_hdr_10942_3840x2160.jpg);
       	 margin: 5%;
       	 padding: 5%;
       	 	outline: double;
       	outline-color: black;
       	display: block;
       	 color: black;
       }
       p{
       	color: white; font-size: 25px; font-family:"Lowvetica"; 
       

       }
       #myid{
       	@font-face {
        color: white;
        font-family: "opening font";
        font-height: 150px;
        font-width: 700px;
        src: url(https://www.google.com/fonts#UsePlace:use/Collection:Questrial);
        
               
       }
       .media {
       	color: blue; 
       }

       
       }
       h1, h2, h3, p{
        text-align: center;
       }
